.input {
  width: 324px !important;
}

@media (max-width: 610px) {
  .input {
    width: 228px !important;
  }
}

@media (max-width: 510px) {
    .input {
      width: 100% !important;
      padding-bottom: 12px;
    }
  }